<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title th:text="#{label.adminPage}"></title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        <a th:href="@{/admin?lang=en}" th:text="#{label.english}"></a>
        &nbsp;|&nbsp;
        <a th:href="@{/admin?lang=fr}" th:text="#{label.french}"></a>
        &nbsp;|&nbsp;
        <a th:href="@{/admin/profil}" th:text="#{label.profil}"></a>
    </div>

    <table>
        <thead>
        <tr>
            <th th:text="#{label.id}"></th>
            <th th:text="#{label.title}"></th>
            <th th:text="#{label.details}"></th>
            <th th:text="#{label.date}"></th>
            <th th:text="#{label.periodical}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event : ${events}">
            <td th:text="${event.id}"></td>
            <td th:text="${event.title}"></td>
            <td th:text="${event.details}"></td>
            <td th:text="${event.date}"></td>
            <td th:text="${event.periodique}"></td>
            <td th:if="${!event.isValided}">
                <form action="#" th:action="@{/event/validation}" th:object="${evento}" method="post" >
                    <input type="hidden" name="id" th:value="${event.id}"/>
                    <button type="submit" th:utext="#{label.validate}"></button>
                </form>  
            </td>      
        </tr>
        </tbody>
    </table>

    <h1 th:text="#{label.newEvent}"></h1>
    <form action="#" th:action="@{/event/create}" th:object="${event}" method="post">
        <table>
            <tbody>
            <tr>
                <td><input name="title" type="text" size="140" th:field="*{title}"></td>
            </tr>
                <tr><td><input name="details" type="text" size="140" th:field="*{details}"></td>
            </tr>
            <tr>
                <td><input name="Date" type="datetime-local" size="140" th:field="*{date}"></td>
            </tr>
                <td>
                    <label for="periodique" th:text="#{label.periodical}"></label>
                    <input name="periodique" type="checkbox" size="140" th:field="*{periodique}" >
                </td>
            <td>
                <button type="submit" th:text="#{label.create}"></button>
            </td>
            
            </tbody>
        </table>
    </form>
</body>
</html>