<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1 th:utext="#{label.congrat}"></h1>
    <h2 data-th-text="#{label.congrat}"></h2>

    <div>
        <a th:href="@{/admin?lang=en}">English</a>
        &nbsp;|&nbsp;
        <a th:href="@{/admin?lang=fr}">French</a>
        &nbsp;|&nbsp;
        <a th:href="@{/admin/profil}" th:text="#{label.profil}"></a>
    </div>

    <table>
        <thead>
        <tr>
            <th th:text="#{label.id}"></th>
            <th th:text="#{label.title}"></th>
            <th th:text="#{label.details}"></th>
            <th th:text="#{label.date}"></th>
            <th th:text="#{label.periodique}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event : ${events}">
            <td th:text="${event.id}"></td>
            <td th:text="${event.title}"></td>
            <td th:text="${event.details}"></td>
            <td th:text="${event.date}"></td>
            <td th:text="${event.periodique}"></td>
            <td th:if="${!event.isValided}">
                <form action="#" th:action="@{/event/validation}" th:object="${evento}" method="post" >
                    <input type="hidden" name="id" th:value="${event.id}"/>
                    <input type="submit" value="Submit"/>
                </form>  
            </td>      
        </tr>
        </tbody>
    </table>
</body>
</html>