<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>yo mec test sonar </div>
    <h1>New Fact : </h1>
    <form action="#" th:action="@{/event/create}" th:object="${event}" method="post">
        <table>
            <tbody>
            <tr>
                <td><input name="title" type="text" size="140" th:field="*{title}"></td>
            </tr>
                <tr><td><input name="details" type="text" size="140" th:field="*{details}"></td>
            </tr>
            <tr>
                    <td><input name="Date" type="datetime-local" size="140" th:field="*{date}"></td>
            </tr>
                    <td><input name="periodique" type="checkbox" size="140" th:field="*{periodique}"></td>
            <td>
                <button type="submit" th:text="Create"></button>
            </td>
            
            </tbody>
        </table>
    </form>
</body>
</html>