<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        <a th:href="@{/admin?lang=en}">English</a>
        &nbsp;|&nbsp;
        <a th:href="@{/admin?lang=fr}">French</a>
    </div>
    <h1 th:utext="#{label.profil}"></h1>
    <form method="POST" enctype="multipart/form-data" id="fileUploadForm" action="#" th:action="@{/admin/profil/import}">
        <input type="file" name="image"/><br/><br/>
        <input type="submit" value="Import" id="btnSubmit"/><p>Je sais pas si tu as besoin d'uin input ou un bouton suffit</p>
        <button type="submit" th:utext="#{label.import}"></button>
    </form>
    <form action="#" th:action="@{/admin/profil/export}" method="post">
        <label th:utext="#{label.exportP}"></label>
        <button type="submit" th:utext="#{label.export}"></button>
    </form>
    <form action="#" th:action="@{/admin/profil/delete}" method="get">
        <label th:utext="#{label.deleteP}"></label>
        <button type="submit" th:utext="#{label.delete}"></button>
    </form>
</body>
</html>