<html>
<head></head>
<body>
    <div>
        <a th:href="@{/register?lang=en}">English</a>
        &nbsp;|&nbsp;
        <a th:href="@{/register?lang=fr}">French</a>
        &nbsp;|&nbsp;
        <a th:href="@{/login}" th:text="#{label.login}"></a>
    </div>
    <h1 th:text="#{label.register}"></h1>
    <form action="#" th:action="@{/register/create}" method="post">
        <table>
            <tr>
                <td th:utext="#{label.user}">:</td>
                <td><input type='text' name='username' value=''></td>
            </tr>
            <tr>
                <td th:utext="#{label.password}">:</td>
                <td><input type='password' name='password' /></td>
            </tr>
            <tr>
                <td th:utext="#{label.password}">:</td>
                <td><input type='password' name='password2' /></td>
            </tr>
            <tr>
                <td><input name="submit" type="submit" value="ok" /></td>
            </tr>
        </table>
    </form>
</body>